
.left{
    width: 25vw;
}
.right{
    width: 75vw;
}
.navbar{
    grid-column: 1/3;
}
.btn{
    width: 42px;
    height: 42px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgb(76, 75, 75) ;
}
.searchbar input{
    background-color: transparent;
}
.searchbar{
    color: white;
    border: 2px solid rgb(76, 75, 75);
    background-color: rgb(76, 75, 75) ;
}