@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.main {
    background-image: url(assets/img/image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    position: relative;
    z-index: 10;
    height: 40px;
    width: 148px;
}

nav button,
select {
    position: relative;
    z-index: 10;
}

.maintext {
    color: white;
    height: calc(100% - 40px);/*we can set this in percent since we already have set the height of its parent*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    position: relative;
    z-index: 10;
    line-height: 3;
    padding: 0 30px;
}

.maintext h1 {
    line-height: 1.1;
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.maintext p {
    text-align: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.maintext h3 {
    text-align: center;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.btn{
    color: white;
    font-weight: bolder;
    border: 2px solid red;
    background-color: red;
}
#lang{
    background-color: transparent;
    color: white;
}
.navpad{
    padding: 3px;   
    border-radius: 3px;
}
.getstarted{
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 3px;
}
form input{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    padding: 9px 40px 9px 9px ;
    z-index: 10;
    color: white;
}

.maintext div input::placeholder {
    color: white;
}

.maintext form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maintext form div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
@media screen and (max-width:800px){
    .getstarted{
        font-size: 10px;
        padding: 1px 5px;
    }
    form input{
        padding: 3px 20px 3px 3px ;

    }
    .maintext h1{
        font-size: 30px;
    }
    .maintext p{
        font-size: 15px;
    }
    .maintext h1{
        font-size: 30px;
    }
}
.separator{
    background-color: rgb(38, 38, 38);
    height: 12px;
}
.first{
    font-family: "Martel Sans", sans-serif;
    padding: 50px;
    max-width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 100px;
    line-height: 1.5;
}
@media  screen and (max-width:1300px) {
    .first{
        flex-wrap: wrap;
    }
}
.first h1{
    font-weight: bolder;
    font-size: 48px;
}
.first p{
    font-size: 24px;
}
.second img{
    position: relative;
    z-index: 10;
}
.third iframe{
    position: relative;
    top:-198px;
    right: -9px;
    /* max-width: 100%; */
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px; 
    padding: 10px;
}
.faqbox:hover{
    background-color: rgb(62, 61, 61);
}
.faqbox{
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 24px;
    max-width: 50vw; 
    margin: 34px auto;
    cursor: pointer;
}

footer{
    max-width: 60vw;
    margin: 20px auto;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 34px;
    
}
@media  screen and (max-width:1300px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 34px;
    }
}
.footer a{
    font-size: 12px;
    color: white;
}
.footer-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}